 @tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
  
  
}
.bc{
  background: rgb(81,85,227);
}
.hc{
  color: black;
}
.colors{
  color: whitesmoke;
}
.mob-view{
  @apply fixed top-10 left-0 bg-gray-400 w-full h-1/4;
}
.mob-view li{
  @apply w-full text-center border-b-2 h-full;
}
.bg2{
  background: #2b2d77;
}
.bad{
  position: relative;
  right: 5%;
}
.btn{
  @apply bg-blue-950  border-white font-bold px-5 py-2;
}
html{
  scroll-behavior: smooth;
}
.up{
    margin-top: 0;
    padding-top: 20%;
}
.res{
  padding-left: 20px;
}
.upp{
  padding-top: 10%;
}